<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"><!--这里就是为啥要导core包的原因-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"><!--这里就是为啥要导classic包的原因-->

            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 日志输出级别 -->
    <root level="DEBUG"><!--输出DEBUG级别及以上的记录语句 级别排序：TRACE<DEBUG<INFO<WARN<ERROR,level还可以是 ALL和OFF，默认就是DEBUG-->
        <appender-ref ref="STDOUT" />
    </root>
</configuration>